.friend {
  display: flex;
  align-items: flex-start;
  gap: 0 12px;
  padding: 16px 0;

  &__avatar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 48px;
    max-width: 48px;
    min-height: 48px;
    max-height: 48px;
    border-radius: 50%;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: $gray500;
    color: $white;
    overflow: hidden;
    top: 2px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2px 0;
    overflow: hidden;

    &_title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      flex: 1;

      &_line {
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        gap: 0 20px;
      }
    }
  }

  &__coins {
    display: inline-flex;
    align-items: center;
    gap: 0 4px;
    font-size: 14px;
    font-weight: 500;
    color: $tgTextColor;
  }

  &__invited {
    font-size: 14px;
    font-weight: 500;
    color: $textBaseColor;
    display: inline-flex;
    align-items: center;
    gap: 0 4px;

    &_icon {
      line-height: 0;
      opacity: 0.6;
    }
  }
}
