.expert {
  display: flex;
  align-items: flex-start;
  gap: 0 12px;
  padding: 16px 0;

  &__avatar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 48px;
    max-width: 48px;
    min-height: 48px;
    max-height: 48px;
    border-radius: 50%;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: $gray500;
    color: $white;
    overflow: hidden;
    top: 2px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2px 0;
    overflow: hidden;

    &_title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &_description {
      font-size: 14px;
      color: $textBaseColor;
      margin-bottom: 10px;

      p {
        -webkit-line-clamp: 2;
        line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }

    &_properties {
      display: flex;
      align-items: center;
      gap: 0 16px;
      font-size: 12px;
      font-weight: 500;
      margin-bottom: 12px;

      & > div {
        display: inline-flex;
        align-items: center;
        color: $textBaseColor;
        white-space: nowrap;
        overflow: hidden;

        img {
          margin-right: 4px;
        }

        span {
          color: $tgTextColor;
          display: inline-block;
          margin: 0 4px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
