.expertize {
  position: relative;
  overflow: hidden;

  &__modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: $tgViewportHeight;
    background-color: $tgBgColor;
    padding: 0 $container-global-padding 20px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
    z-index: 60;

    &_show {
      opacity: 1;
      visibility: visible;
    }
  }

  p {
    font-size: 14px;
    color: $textBaseColor;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px 0;
  }
}
